*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
  
}

.main-container{
 width: 100%;
 height: auto;
 font-family: 'Poppins', sans-serif; 
 border: 1px solid green;
}
.msi-nav{
    width: 100%;
    height: 70px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.msi-nav ul{
    display: flex;
    align-items:center;
    justify-content: space-between;
   

}
.msi-text{
    width: 40%;
    list-style: none;
    font-weight: bold;
    display: inline-block;
    padding: 30px 0;
    font-size: 17px;
    color: var(--color-gray-600);
}

.msi-icon{
    width: 15%;
    font-size: 20px;
    list-style: none;
}
.first-page img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.Product{
  width:100%;
    display: flex;
    align-items: center; 
}

.Product1{
    display: block;
    object-fit: cover; 
    width: 500px;
    height: 400px;
    border: 2px solid gray;
    background-image: url(./product1.jpeg);
    background-position: center;
    background-size: cover;
    opacity: 0.6;
    
}
.Product-text1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Product1:hover{
    opacity: 1;
}
.Product-text1 h1{
    text-align: center;
    width: 300px;
    font-size: 20px;
    position: absolute;
    color: white;
}
.Product-text1 p{
    color: white;
  padding-top: 50px;
  
}

.Product2 {
    display: block;
    object-fit: cover; 
    width: 550px;
    height: 400px;
    border: 2px solid gray;
    background-image: url(./product2.png);
    background-position: center;
    background-size: cover;
    opacity: 0.6;
}

.Product2:hover{
    opacity: 1;
}
.Product-text2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Product-text2 h1{
    text-align: center;
    width: 300px;
    font-size: 20px;
    position: absolute;
    color: white;
}
.Product-text2 p{
    color: white;
  padding-top: 50px;
  padding-left: 20px;
}




.Product3 {
    display: block;
    object-fit: cover; 
   width: 500px;
   height: 400px;
   border: 2px solid gray;
   background-image: url(./product.jpeg);
    background-position: center;
    background-size: cover;
 opacity: 0.6;
 
}
.Product3:hover{
    opacity: 1;
}
.Product-text3{
   
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.Product-text3 h1{
    text-align: center;
    width: 300px;
    font-size: 16px;
    position: absolute;
    color: white;
}
.Product-text3 p{
    color: white;
  padding-top: 50px;
  padding-left: 20px;
}

.third-page img{
    width: 100%;
    height: 100%;
  
}

.grid-page{
    height:90vh;
    width: 100%;
 
    display: grid;
    gap: 5px;

   grid-template-columns: repeat(4, 1fr);
   
   grid-template-rows: repeat(2, 1fr);
  }
  
 
  
.box-a{
border: 3px solid white;

grid-row: 1/2;
grid-column: 1/3;
background-image: url(https://storage-asset.msi.com/frontend/imgs/product_registration.jpg);
background-position: center;
object-fit: cover;
display: flex;
}
.box-pack{
    height: 350px;
  background: rgba(255, 255, 255, 0.5);

}
.box-pack:hover{
    background-color: transparent;
}
.box-text{
    height: 150px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: center;
   margin-top: 80px;
   margin-left: 180px;
}
.box-text img{
    height: 70px;
    width: 70px;
  
}
.box-text h1{
    font-size: 20px;
    padding-top: 15px;
    font-weight: 600;
}

.box-a p{
    display: flex;
    align-items: center;
    justify-content: center;
   padding-right: 20px;
   padding-top: 10px;
   color: #7c7b7b;
}

.box-b{
    border: 3px solid white;
   grid-row: 2/3;
    grid-column: 1/2;
    background-image: url(./forum1.jpg);
   background-size: cover;
    background-repeat: no-repeat;
  
}
.box-pack3{
  height: 300px; 
    width: 100% ; 
  background: rgba(255, 255, 255, 0.5);
  
}

.box-pack3:hover{
    background-color: transparent;
}

 .box-text3 h1{
   font-size: 32px;
   font-weight: 600;
    padding-top: 150px;
    padding-left: 50px; 
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: center;
}
  

.box-c{
    border: 3px solid white;
    grid-row: 2/3;
    grid-column: 2/3;
    background-image: url(./reward.jpg);
    background-position: center;
    background-size: cover;
}
.box-pack4{
    height: 300px;
      width: 400px;
    background: rgba(255, 255, 255, 0.5);
  
  }
  
  .box-pack4:hover{
      background-color: transparent;
  }
.box-text4 h1{
    font-size: 30px;
    font-weight: 600;
     padding-top: 150px;
     padding-left: 50px; 
     display: flex;
     flex-direction: column;
     align-items: center;
    justify-content: center;
 }
.box-d{
    border: 3px solid white;
    grid-row: 1/2;
    grid-column: 3/5;
    background-image: url(./support_service_location.jpg);
    
    background-position: center;
    background-size: cover;
   
}
.box-pack2{
    height: 350px;
    width: 800px;
    
    background: rgba(255, 255, 255, 0.5);

}
.box-pack2:hover{
    background-color: transparent;
}
.box-text2 {
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: center;
  padding-left: 30px;
    padding-top: 100px;
}
.box-text2 img{
    height: 70px;
    width: 70px;
   
}
.box-text2 h1{
    font-size: 20px;
    padding-top: 15px;
    font-weight: 600;
}
.box-d p{
    display: flex;
    align-items: center;
    justify-content: center;
   padding-right: 20px;
   padding-top: 10px;
   color: #7c7b7b;
}
 
.box-e{
    border: 3px solid white;
    grid-row: 2/3;
    grid-column: 3/4;
    background-image: url(./video.jpg);
    background-position: center;
    background-size: cover;
}

.box-pack5{
    height: 300px;
      width: 400px;
    background: rgba(255, 255, 255, 0.5);
  
  }
  
  .box-pack5:hover{
      background-color: transparent;
  }
.box-text5 h1{
    font-size: 30px;
    font-weight: 600;
     padding-top: 150px;
     padding-left: 50px; 
     display: flex;
     flex-direction: column;
     align-items: center;
    justify-content: center;
 }
 .box-f{
    border: 3px solid white;
    grid-row: 2/3;
    grid-column: 4/5;
    background-image: url(https://storage-asset.msi.com/frontend/imgs/insider.jpg);
    background-position: center;
   object-fit: cover;
}
.box-pack6{
    height: 300px;
      width: 400px;
    background: rgba(255, 255, 255, 0.5);
  
  }
  
  .box-pack6:hover{
      background-color: transparent;
  }
.box-text6 h1{
    font-size: 30px;
    font-weight: 600;
     padding-top: 150px;
     padding-left: 50px; 
     display: flex;
     flex-direction: column;
     align-items: center;
    justify-content: center;
 }
.last{
  
    width: 100%;
    background-color:white;
    border-top: 2px solid ;
    padding-top: 40px;
   
}
.list-item{ width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding: 10px;
    padding-left: 40px;
   font-family: 'Poppins', sans-serif; 
  
}
.community{
    list-style: none;
 
     color: #696969;
     font-size: 15px;
     padding-bottom: 6%;
     margin-left: 80px;
    
}
.community li{
    padding-top: 22px;
    font-size:15px;
    display: list-item;
    color: #666;
}
.support{
    list-style: none;
     color: #696969;
     font-size: 15px;
     padding-bottom: 3%;
    
}
.support li{
    padding-top: 22px;
    font-size:15px;
    display: list-item;
    color: #666;
}
.news{
    list-style: none;
     color: #696969;
     font-size: 15px;
     padding-bottom: 18%;
    
}
.news li{
    padding-top: 22px;
    font-size:15px;
    display: list-item;
    color: #666;
}
.about {
    list-style: none;
     color: #696969;
     font-size: 15px;
   
}
.about li{
    padding-top: 22px;
    font-size:15px;
    display: list-item;
    color: #666;
}
.media{
    
    list-style: none;
     color: #696969;
     font-size: 15px;
     padding-bottom: 20%;
     margin-right: 100px;

    
}
.media li{
    padding-top: 22px;
    font-size:16px;
    display: list-item;
    color: #666;
}
.last-nav{
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #ececec;
  
}
.left-side {
 margin-left: 80px;
 display: flex;
 gap: 10px;
}
.left-side p{
    color: #696969;
    font-size: 14px;
 
}
.right-side ul{
    display: flex;
    align-items: center;
     gap: 40px;
   list-style: none;
   color: #696969;
   font-size: 13px;
   margin-right: 100px;
  
   
}
